.about {
  margin-top: 3rem;
  max-width: 800px;
}
 
.about-list li {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}

.about strong {
  color: #11f430; /* soft yellow accent */
}

.about-list {
  list-style-type: disc;
  padding-left: 1.5rem;
}