.home {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}
.hero{
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Montserrat', sans-serif;

}

.hero h1{
    color: rgb(192, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero h2{
    font-size: 1.5rem;
    color: #9f9e9e;
}
.hero p{
    font-size: 1.2rem;
    color: #a18a8a;
    max-width: 600px;
    margin: auto;
}
 
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.buttons a{
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

 
.home-cards {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
 
}

/* .about,
.skills {
  width: 100%;
  max-width: 100px;
  background: #000000;
  padding: 2rem;
  border-radius: 12px;
  border-top: 6px solid #facc15;
  box-shadow: 0 8px 20px rgba(84, 119, 146, 0.08);
 
} */
 .about,
.skills {
  width: 100%;
  max-width: 500px;
  background: #000000;
  padding: 2rem;
  border-radius: 12px;

  /* No shadow by default */
  box-shadow: none;

  /* Smooth animation */
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  /* Optional top accent */
  border-top: 6px solid #facc15;
}

/* Bottom-only shadow on hover */
.about:hover,
.skills:hover {
  box-shadow: 0 18px 30px -18px rgba(250, 204, 21, 0.6);
  transform: translateY(-4px);
}

 


/* Hover animation */
.buttons a:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Primary button */
.primary {
  /* background-color: #facc15; */
  border: 2px solid #facc15;
  background-color: #9d9c9c;
  color: #facc15;
  border-left: 6px solid #facc15;
}

.primary:hover {
  background-color: #facc15;
  color: #000;
}

/* Secondary button */
.secondary {
  border: 2px solid #facc15;
  background-color: #9d9c9c;
  color: #facc15;
  border-left: 6px solid #facc15;
}

.secondary:hover {
  background-color: #facc15;
  color: #000;
}


/* ---------- RESPONSIVE ---------- */

/* Tablets */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;

  }

  .hero h2 {
    font-size: 1.2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .home {
    padding: 20px 10px;
    display: flexbox;
    gap: 10rem;
    flex-direction: column;
  }
  

  .hero h1 {
    font-size: 1.8rem;
  }

  .about h3,
  .skills h3 {
    font-size: 1.5rem;
  }
}
