/* Light Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #eeff02;  
  --card-bg: #eeff00;
  --accent: #1bb9a4;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #112D4E;
  --text-color: #005701;
  --card-bg: #d9ff00;
  --accent: #f523b9;
}









