 
.content {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body #root{
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  background: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color); 
  color: orange;
}

/* This pushes footer down */
.content {
  flex: 1;
  padding: 2rem;
}

/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.Navigation {
  padding: 1rem 0;
  display: flex;
  gap: 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #d6d1d1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
} */