.home {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}
.hero{
    text-align: center;
    margin-bottom: 80px;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero h1 span{
    color: #facc15;
}
.hero h2{
    font-size: 1.5rem;
    color: #dddddd;
}
.hero p{
    font-size: 1.2rem;
    color: #dddddd;
    max-width: 600px;
    margin: auto;
}
 
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.buttons a{
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

/* Hover animation */
.buttons a:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Primary button */
.primary {
  /* background-color: #facc15; */
  border: 2px solid #facc15;
  color: #facc15;
}

.primary:hover {
  background-color: #eab308;
  color: #000;
}

/* Secondary button */
.secondary {
  border: 2px solid #facc15;
  color: #facc15;
}

.secondary:hover {
  background-color: #facc15;
  color: #000;
}


/* ---------- RESPONSIVE ---------- */

/* Tablets */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;

  }

  .hero h2 {
    font-size: 1.2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .home {
    padding: 20px 10px;
    display: flexbox;
    gap: 10rem;
    flex-direction: column;
  }
  

  .hero h1 {
    font-size: 1.8rem;
  }

  .about h3,
  .skills h3 {
    font-size: 1.5rem;
  }
}
