
.navBar  {
    position: sticky;
    top: 0;
    background-color: #222;
    padding: 1rem 2rem;
    display: flexbox;
    gap: 5rem;
    box-shadow: 0 4px 4px rgba(236, 234, 234, 0.7);
    text-align: right; 
 
 }

 .nav-link {
    margin: 0 16px;
    color: #141414; 
    text-decoration: none;
    font-weight: 600;
    border: 0.2px solid #ffcc00;
    border-radius: 3px;
    padding: 3px 5px;
    color: #ffcc00;
    transition: 
      transform 0.2s ease,
      box-shadow 0.2s ease,
      background-color 0.2s ease; 

 }

 .nav-link:hover {
  background-color: #ffcc00;
  border: 0.2px solid #ffcc00;
  border-radius: 5px;
  color: rgb(7, 7, 7);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
