.projects {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.projects-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 50px;
}

/* Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* Card */
.project-card {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.project-card h3 {
  margin-bottom: 10px;
  color: #facc15;
}

.project-card p {
  color: #dddddd;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

/* Tech Tags */
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.project-tech span {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3) ;
}

/* Link Button */
.project-link {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  background-color: #facc15;
  padding: 8px 14px;
  border-radius: 6px;
  display: inline-block;
}

.project-link:hover {
  background-color: #eab308;
  box-shadow: #dddddd 0px 5px 15px;
}

@media (max-width: 600px) {
  .projects {
    padding: 20px 10px;
  }

  .projects-title {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
}   