/* Light Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #eeff02;
  --card-bg: #eeff00;
  --accent: #ef0c0c;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #005701;
  --card-bg: #d9ff00;
  --accent: #c41414;
}









